<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <%- include('./partials/menu.ejs') %>

    <% if (typeof message !== 'undefined') { %>
      <h1> <%= message %></h1>
      <% } %>

      <% if (typeof usuario !== 'undefined') { %>
        <h1> <%= usuario.nome %></h1>
        <% } %>


  </body>
</html>
