<!DOCTYPE html>
<html>
  <head>
  <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 
  <script src="/javascripts/script-home.js"></script>
  <script src="/javascripts/script-home-pokemon.js"></script>
    
  <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Index - Página inicial</h1>
    <%- include('./partials/menu.ejs') %>

    <% if (typeof message !== 'undefined') { %>
      <h1> <%= message %></h1>
      <% } %>

      <% if (typeof usuario !== 'undefined') { %>
        <h1> <%= usuario.nome %></h1>
        <% } %>

        <br>
        <br>
        <br>
        <label for="qtd_msg">Quantidade de MSG</label>
        <span id="qtd_msg"></span> 
        <br>
        <br>
        <br>
        <label for="qtd_msg">Usuários Felizes</label>
        <span id="usuarios_felizes"></span>
        <br>
        <br>
        <br>
        <label for="qtd_posts">Quatidade de Posts</label>
        <span id="threads_rolando"></span>

        <br>
        <br>
        <br>


        <div class="container">
          <h1>who's that pokemon</h1>
          <ul data-js="pokedex" class="pokedex"></ul>
        </div>


  </body>

</html>
