<!DOCTYPE html>
<html>
  <head>
    <title>Cadastrar Usuário</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

  </head>
  <body>
    <h1>Cadastrar Usuário</h1>
    <p>Welcome to Cadastrar Usuário</p>

    <%- include('../partials/menu.ejs') %>


    <main>

      <div>
          <h1>Welcome - Cadastrar Usuário</h1>
          <!-- <label for="">Bem vindo ao Nimix</label> -->
      </div>

      <div>
          <h2>faça seu cadastro</h2>
      </div>

      
  <section class="container">

    <br>

      <div class="contato">
      
        <form class="form-cadastro-usuario" action="/usuario/cadastrar" method="POST" encType="multipart/form-data">
          
              <div class="form_fields">

                  <label for="nome">Nome</label>
                  <input type="text" name="nome" id="nomeInputID">
                  <span class="error-message"></span>
                  <br>
                  <label for="usuario">usuario</label>
                  <input type="text" name="usuario">
                  <span class="error-message"></span>
                  <br>
                  <label for="email">E-mail</label>
                  <input type="email" name="email">
                  <span class="error-message"></span>
                  <br>
                  <label for="dataNascimento">Data Nascimento</label>
                  <input type="date" name="data_nascimento">
                  <span class="error-message"></span>
                  <br>
                  <label for="foto">Select image:</label>
                  <input type="file" id="img" name="foto" accept="image/*" onchange="loadFile(event)">
                  <br>
                  <label for="senha">Senha</label>
                  <input type="password" name="senha">
                  <span class="error-message"></span>
                  <br>
                  <label for="senha_repetir">Repertir Senha</label>
                  <input type="password" name="senha_repetir">
                  <span class="error-message"></span>
                  <br>
                  <br>
                 
              </div>
              
              
              <button type="submit" class="button_login">Add Usuario</button>
              
          </form>
          <ul class="errors-container"></ul>
      </div>
      </div>
      
      <br>
      <br>
      
      <img id="output"/>

      <br>
      <br>

      <div class="politica-senha">
          <div class="politica-tamanho">
              8 Characters
          </div>
          <div class="politica-numero">
              Contém Número
          </div>
          <div class="politica-maiuscula">
              Contém Letra Maiúscula
          </div>
          <div class="politica-especial">
              Contém caracter especial
          </div>
      </div>

  </body>
  <script src="/javascripts/script-cadastrar-usuario.js"></script>

</html>
