<!DOCTYPE html>
<html>
  <head>
    <title>Cadastrar Thread</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cadastrar Thread</h1>
    <p>Welcome to Cadastrar Thread</p>

    <%- include('../partials/menu.ejs') %>
    
  </body>
</html>
