<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <p>Welcome to Login</p>

    <%- include('../partials/menu.ejs') %>


    <main>

      <div>
          <h2>faça seu login</h2>
      </div>
  <section class="container">

      <div class="contato">
          <form action="" method="post">
              <div class="form_fields">
                  <label for="email">E-mail</label>
                  <input type="email" name="email" id="email">

                  <label for="senha">Senha</label>
                  <input type="password" name="senha" id="senha">
              </div>
              <a href="#">Esqueceu a senha?</a>

          </form>
          
              <button class="button_login">Go >></button>
         



      </div>
    
  </body>
</html>
